.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #4ACC64;
    width: 250px;
    height: 100vh;
    color: white;
    border-radius: 0 0 15px 0;

    box-shadow: 8px -18px 31px 4px rgba(150,150,150,0.38);
}

.profile{
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -50px;
}

.profile img{
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
}

.profile p{
    margin-top: -5px;
    font-size: 30px;
}

.menu-nav{
    width: 100%;
}

.menu-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .3s ease-in-out;
    color:white;
}

.menu-item i{
    text-align: center;
    width: 40px;
    font-size: 20px;
    margin-left: 40px;
}

.menu-item:hover{
    background-color: #3BA550;
}
.menu-logout{
    align-self: flex-end;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer
}

.menu-logout i{
    margin-left: 10px;
    width: 30px;
    font-size: 20px;
}

/*menu responsive*/
.menu-mobile{
    position: absolute;
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #4ACC64;
    width: 250px;
    height: 100vh;
    color: white;
    z-index: 10;
    box-shadow: 8px -18px 31px 4px rgba(150,150,150,0.38);
}

.close{
    position: absolute;
    left: 10px;
    top: -20px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .menu-container {
      display: none;
    }
    .menu-mobile{
        transform: translateX(-100%);
    }

    .dashboard-container{
        padding: 10px;
        margin: 20px;
    }
}